#wrapper {
  width: 100%;
  height: 100vh;
}

.slider {
  width: 800px;
  height: 500px;
  background-color: black;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
}

.slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.slide.active {
  display: block;
}